<% if @items.any? %>
  <% @items.each do |item| %>
    <h4><%= item.name%> : </h4><p><%= item.quantity%></p>
    <% @subtotal += (item.price * item.quantity) %>
  <% end %>
  <h4>Subtotal: £<%= @subtotal%></h4>
<% else %>
  No items yet
<% end %>
