<% if @products.all.any? %>
  <% @products.each do |p| %>
    <%= p.name %>
    £<%= p.price %>
  <% end %>
<% else %>
  <h1>no products yet</h1>
<% end %>

<%= link_to 'add product',  new_product_path %>
